.custom-list {max-height:380px;}
.custom-list li {padding-top:3px; padding-bottom:3px;}
::marker{color: #67757c;}
.build-list {
  min-height: auto;
  padding-left: 40px;
}
.ml-4{margin-left: 2.8rem !important;}
