<div class="row">
    <div class="col-md-3">
        <div class="card bg-white border products-card ">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <span class="mdi mdi-clipboard card-icons"></span>
                <h4>Product Category</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-white border products-card">
            <div class="card-body">
                <span class="mdi mdi-clipboard card-icons"></span>
                <h4>Total Sales</h4>
                <p class="card-text">$350K</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-white border products-card">
            <div class="card-body ">
                <span class="mdi mdi-clipboard card-icons"></span>
                <h4 class="text-center">Total Profit</h4>
                <span class="card-text text-center">$30K</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-white border products-card">
            <div class="card-body">
                <span class="mdi mdi-clipboard card-icons"></span>
                <h4>Total Cost</h4>

                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- chart component -->
    <div class="col-md-12">
        <app-monthly-income></app-monthly-income>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>