<div class="row">
    <div class="col-lg-3">
        <div class="card border products-card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h5 class="m-t-10 m-b-0">Total Income</h5>
                        <h2 class="m-t-0">$953k</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card border products-card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h5 class="m-t-10 m-b-0">Total Sales</h5>
                        <h2 class="m-t-0">$236k</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card border products-card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h5 class="m-t-10 m-b-0">Total Profit</h5>
                        <h2 class="m-t-0">$990k</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card border products-card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h5 class="m-t-10 m-b-0">Total Clients</h5>
                        <h2 class="m-t-0">100</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- chart component -->
    <div class="col-md-12">
        <app-monthly-income></app-monthly-income>
    </div>
</div>
<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>