::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(255, 255, 255) !important;
  }
  ::ng-deep.mat-form-field-underline .mat-focused {
    /*change color of underline*/
    background-color: rgb(255, 255, 255) !important;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(250, 250, 250) !important;
   }
   .username-icone , .password-icon {
    color: #fff !important;
   }

   .mat-form-field.example-full-width.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder:focus{
    border-color: green !important;
   }
   input.mat-input-element {
    color: #fff !important;
   }
   .mat-raised-button.mat-primary {
    background-color: #42a5f5 !important;
    border-color: #42a5f5 !important;
    width: 65%;
  }
  

    
  .md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: green !important;
}
mat-form-field.mat-focused{
    color: green !important;
    border-color: green !important;
   
}


  