.auth-wrapper {
  min-height: 100vh;
  position: relative;
}

.auth-wrapper .auth-box {
  background: #fff;
  padding: 20px;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  max-width: 400px;
  border-radius: 10px;
  width: 450px !important;
  max-width: 500px !important;
  padding: 30px !important;
}
.auth-box {
  background: white;
  padding: 20px;
  box-shadow: shadow;
  max-width: 400px;
}
.auth-box .logo {
  text-align: center;
}
.bg-color{
    background-color: dimgrey;
}


  